<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUri" value="http://192.168.0.197:7777/sipmweb/"/>
    <add key="TxtFile" value="E:\JobCode\HDSchema\ToolCode\RequestImg\RequestImg\key"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>